/* Universal */
html {
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    margin: 0 0;
    width: 100%;
}

body {
    background-color: black;
    opacity: 0.9;
    margin: 0 20px;
}

header {
    display: flex;
    position: fixed;
    height: 69px;
    z-index: 10;
    border-bottom: 1px solid seashell;
    background-color: black;
    width: 100%;
    top: 0;
    left: 0;
}

header img {
    height: 50px;
    margin-left: 10px;
    margin-top: 10px;
}

nav {
    width: 100%;
}

ul {
    float:right;
    
}

header li {
    display: inline-flex;
    text-decoration: underline;
    color: seashell;
    margin-right: 10px;
}

.container {
    display: flexbox;
    align-content: center;
}

/* Mission */
.mission {
    background-image: url(https://content.codecademy.com/courses/freelance-1/unit-4/img-mission-background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 700px;
    position: relative;
    top: 70px;
    margin: 0;
    display: flex;
    width: 100%;

}

.mission .text {
    display: flex;
    align-content: center;
    justify-content: center;
}

div.mission-text {
    background-color: black;
    align-items: center;
    display: flexbox;
    justify-items: center;
    width: 100%;
}

h4.text,
h2.text {
    margin: 10px 0;
}

h4.text { 
    justify-items: center;
    align-items: center;

}
.container {
    align-items: center;
}

/* Tea of the Month */

div.month-tea.container {
    width: 1000px;
    position: relative;
    top: 70px;
    display: flex;
    flex-flow: column wrap;
    margin: 20px 0;
}

.tea img {
    height: 200px;
    width: 300px;
    display:flexbox;

}

.tea {
    margin: 10px 0;
}

/* Locations */


div.locations {
    background-image: url(https://content.codecademy.com/courses/freelance-1/unit-4/img-locations-background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    top: 70px;
    height: 500px;
    text-align: center;
}

.location.blocks {
    display: flex;
    justify-content: center;
}

.downtown,
.east-bayside,
.oakdale {
    width: 300px;
    height: auto;
    background-color: black;
    margin: 15px 40px;
    justify-content: center;
    align-content: center;
    text-align: center;
    line-height: 2;
}

.locations.h2,
.locations.blocks {
    align-content:center;
}

.locations h2 {
    margin: 0 auto;
    padding: 50px 0 0 0;
}

/* Contact */

.contact {
    position: relative;
    top: 70px;
    height: 200px;
    text-align:center;
}

/* Footer */

.footer {
    position: relative;
    top: 70px;
    margin-left: 20px;
}