html {
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    margin: 0 0;
}

body {
    background-color: black;
    opacity: 0.9;
    
}

header {
    display: inline-flex;
    position: fixed;
    height: 69px;
    z-index: 10;
    border-bottom: 1px solid seashell;
    background-color: black;
    width: 100%;

}

header img {
    height: 50px;
    margin-left: 10px;
}

header li {
    display: inline-flex;
    text-decoration: underline;
    color: seashell;
}

.mission {
    position: relative;
}